/* Search Styles */
.search-wrapper {
  height: 35px;
  width: 100%;
  padding-bottom: 10px;
  position: relative;
}

.search {
  width: 100%;
  height: 100%;
  border: 1px solid rgb(180, 179, 179);
  border-radius: 0;
  padding-left: 30px;
  color: grey;
  font-size: 0.85em;
  font-weight: 500;
  /* border: 1px solid purple; */
}

.search-icon {
  position: absolute;
  padding-left: 8px;
  padding-top: 12px;
  color: grey;
  font-size: 0.85em;
  font-weight: 200;
}

.search-results {
  background: #ffffff;
  padding-top: 10px;
  width: 100%;
  min-height: 100vh;
  height: auto;
}

.empty-results {
  padding-top: 20px;
  text-align: center;
  font-size: 0.8em;
}

.search-item:hover > div {
  background: rgba(0, 0, 0, 0.15);
}

.search-path {
  font-size: 10px;
  color: #6e6e6e;
  padding: 5px 0;
  padding-left: 20px;
}
