body {
  /* background-color: #242424; */
  background-color: rgb(20, 20, 20);
  padding         : 0px;
}

.body {
  width   : 100%;
  height  : 100%;
  position: fixed;
}

.ant-layout {
  flex-wrap: wrap;
}

.sider {
  height     : 100%;
  overflow   : hidden;
  transition : all 0s;
}

.sider:hover {
  overflow-y : auto;
}

#sizer-hint-bar {
  position   : absolute;
  width      : 10px;
  height     : 100vh;
  background : #66ccff;
  top        : 0;
  left       : 245px;
  opacity    : 0;
  transition : opacity 0.3s;
  cursor     : col-resize;
  z-index    : 10;
}

.content {
  width  : 100%;
  height : 100%;
  display: flex;
  /* background-color: #242424; */
  background-color: rgb(20, 20, 20);

}

.tabs {
  width: 100%;
  padding: 0;
}

::-webkit-scrollbar {
  background-color: rgb(20, 20, 20);
}

::-webkit-scrollbar-thumb {
  height          : 50px;
  background-color: #818181;
}


[data-theme="dark"] .site-tree-search-value {
    color: #d84a1b;
  }


.explorer-node {
    margin: 0;
    padding: 0;
    line-height: 20px;
    white-space: nowrap;
    list-style: none;
    outline: 0;
    color: #ffffff;
}

.explorer-node-selected {
    margin: 0;
    padding: 0;
    line-height: 20px;
    white-space: nowrap;
    list-style: none;
    outline: 0;
    color: #ffffff;
    background-color: #818181;
}

.explorer-node-title {
    color: #ffffff;
}

.explorer-node-search-value {
    color: #f50;
}
