.editor {
  width   : 100%;
  height  : 100%;
  overflow: hidden;
}

.editorBd {
  width  : 100%;
  height : 100%;
  display: flex;

}

.editorContent {
  /* min-width: 500px; */
  height          : 100%;
}

.editorSidebar {
  /* min-width: 500px; */
  height    : 100%;
  overflow-y: auto;
}

.mind {
  width : 100%;
  height: 800px;
}