.body {
  width   : 100%;
  height  : 100%;
  position: fixed;
}

.sider {
  height  : 100%;
  overflow: hidden;
}

.sider:hover {
  overflow-y   : auto;
}

.content {
  width  : 100%;
  height : 100%;
  display: flex;
}
