.editor {
  width   : 100%;
  height  : 100%;
  overflow: hidden;
}

.editorBd {
  height : 100%;
  display: flex;
  background: #fafafa;
}

.editorSidebar,
.editorContent {
  min-width: 500px;
  height   : 100%;
}

.editorSidebar {
  background: #fafafa;
  overflow-y: auto;
}

.mind {
  width           : 100%;
  height          : 800px;
}