.container {
  width: 250px;
  height: 100vh;
  overflow: hidden;
  resize: inline;
}

.indent-root {
  padding-left: 5px;
}

.indent {
  padding-left: 25px;
}

.mb {
  padding-bottom: 10px;
}

.item-wrapper {
  cursor: pointer;
  width: 100%;
  white-space: nowrap;
}

.icon {
  padding-right: 5px;
}

.icon.folder {
  color: #fab019;
}

.tomato {
  color: #e73934;
}
.red {
  color: red;
}
.orange {
  color: #dd5b26;
}
.blue {
  color: #2372ba;
}
.green {
  color: #08743b;
}
.purple {
  color: #5b2d8d;
}
.grey {
  color: #303c42;
}
.brown {
  color: #574038;
}
.yellow {
  color: #fab019;
}

.dragthis {
  border: 1px solid blue;
  width: 100px;
  height: 100px;
}
.drophere {
  border: 1px dashed #000;
  width: 200px;
  height: 200px;
}
